<div class="container">
    
    <h2>Perfil</h2>
    Edita tus datos
    
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
  
    
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        
        <div class="modal-content" style="width:300px; background-color: var(--bg-card);">
          <div class="modal-header" style="text-align: center;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><img style="border-radius: 10px;"src="https://i.pinimg.com/236x/b8/fe/23/b8fe2363a39908a287e1a29c136202c9.jpg" style="width: 50px;height: 50px;"><br>
                Inserte nombre</h4>
          </div>
          <div class="modal-body"  style="text-align: center;">
            <form action="/action_page.php">
                <label style="margin-right:100px"for="fname">Nombre</label><br>
                <input style="border-radius: 5px;"type="text" id="fname" name="fname" value=""><br>
                <label style="margin-right:100px"for="lname">Contraseña</label><br>
                <input style="border-radius: 5px;" type="password" id="lname" name="lname" value=""><br>
                <label style="margin-right:50px"for="imail">Repetir contraseña</label><br>
                <input style="border-radius: 5px;" type="password" id="imail" name="imail" value=""><br><br>
                <input type="submit" style="margin-left:100px;width: 100px;"class="pi-buttonCard"value="Guardar">
              </form> 
 
          </div>
          <div class="modal-footer">
          
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
  