
<div class="container">
    
    <h2>Perfil</h2>
    Edita tus datos
    
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
  
    
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        
        <div class="modal-content" style="width:300px; background-color: var(--bg-card);">
          <div class="modal-header" style="text-align: center;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">
                Inserte nombre</h4>
          </div>
          <div class="modal-body"  style="text-align: center;">
            <form action="/action_page.php">
                <label style="margin-right:100px;font-family: Piazzolla;"for="fname">Nombre</label><br>
                <input style="border-radius: 5px;"type="text" id="fname" name="fname" value=""><br>
                <label style="margin-right:100px;font-family: Piazzolla;"for="lname">Contraseña</label><br>
                <input style="border-radius: 5px;" type="password" id="lname" name="lname" value=""><br>
                <label style="margin-right:50px;font-family: Piazzolla;"for="imail">Repetir contraseña</label><br>
                <input style="border-radius: 5px;" type="password" id="imail" name="imail" value=""><br><br>
                <input type="submit" style="margin-left:100px;width: 100px;"class="pi-buttonCard"value="Guardar">
              </form> 
 
          </div>
          <div class="modal-footer">
          
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>