/* You can add global styles to this file, and also import other style files */
:root {
/* FONT */
  --font-family-serif:'Piazzolla', serif;
  --font-family-sansSerif:'Rubik', sans-serif;
/* --- Nav */
  --font-size-NavButtons:33px;
/* --- Header */
  --font-size-header-h1:55px;
  --font-size-header-h2:23px;
/* --- Cards */
  --font-size-CardsBanner:20px;
  --font-size-CardsMain-titular:30px;
  --font-size-CardsMain-bodyTxt:29px;
  --font-size-Cards-titular: 18px;
  --font-size-Cards-bodyTxt:12px;
/* --- Modals & Pop-Ups */
  --font-size-bodyTextModals:20px;
  --font-size-titleDropdownsModals: 29px;
/* --- Booking */
  --font-size-dropDownCategories: 27px;
  --font-size-standardBtn: 12px;
  --font-size-FormLabel-serif: 29px;
  --font-size-FormLabel-sansSerif: 27px;

/* COLORS */

  /*-----  Main Colors */
  --main-color-white: #F2F6FF;
  --main-color-darkGreen: #292620;
  --main-color-lightGreen: #606C38;
  --main-color-yellow:#F2B821;

  /*----- Font Colors  */
  --font-color-titulars: var(--font-color-titulars);
  --font-color-remarkable: #283618;
  --font-color-body-text: var(--main-color-lightGreen);
  --font-color-disabled-text: ##D2D5CC;
  --font-color-btnLight:var(--main-color-white);
  --font-color-btnDark:var(--main-color-darkGreen);
  /*-----  On card */
  --font-color-lightOnCard: #7F878A;
  --font-color-lightGreenOnCard: #7F878A;

  /*-----  Button colors */
  --btn-color-untoggleable:#D2D5CC;
  --btn-color-callToAction:#F2B821;
  --btn-color-secoundary:#A1A88A;
  --btn-color-callToAction-hover:#e6ac1b;

  /*-----  Other */
  --sec-color-onCalendar-festive: #CCD3D5;
  --bg-card: #F2F6FF;
  --bg-title-banner: var(--main-color-lightGreen);
  --bg-color:#E0E3D7;

}


body{
  background-color: var(--bg-color);
  line-height: 1.4em;
  letter-spacing: 0.05em;
  font-family: var(--font-family-sansSerif);
}
.pi-buttonCard{
  background-color: var(--main-color-yellow);
  border-radius: 10px;
  font-size: var(--font-size-standardBtn);
  text-transform: uppercase;
  color: var(--font-color-btnDark);
  border:2px solid var(--main-color-yellow);
  width:100%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.pi-buttonCard:hover{
  background-color: var(--main-color-yellow);
  border:2px solid var(--btn-color-callToAction-hover);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.pi-buttonGreen{
  background-color: var(--btn-color-secoundary);
  border-radius: 10px;
  font-size: var(--font-size-standardBtn);
  text-transform: uppercase;
  color: var(--font-color-btnDark);
  border:2px solid var(--btn-color-secoundary);
  width:100%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.pi-buttonGreen:hover{
  background-color: var(--btn-color-secoundary);
  border:2px solid #6a7a39;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.pi-linkCard{
  text-decoration: none;
  font-size: var(--font-size-Cards-bodyTxt);
  color:var(--main-color-lightGreen);
  margin-bottom:0px;
  border-bottom:1px solid var(--bg-card);
  margin-top: -10px;
}
.pi-linkCard:hover{
  margin-top: -10px;
  margin-bottom:0px;
  text-decoration: none;
  font-size: var(--font-size-Cards-bodyTxt);
  color:var(--main-color-lightGreen);
  margin-bottom:5px;
  border-color:var(--main-color-lightGreen);
}
.pi-hrOnCard{
  margin: 10px -5px;
}
.pi-card{
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* agrega una sombra de 10px con un desenfoque de 0px en horizontal y 0px en vertical, con un color semi-transparente */
  background-color: var(--bg-card);
}
.pi-force-serif{
  font-family: var(--font-family-serif)!important;
}
.pi-smallerTxt{
  font-size:10px;
  font-weight: 200;
}
.pi-serifSmall{
  font-size:var(--font-size-Cards-titular);
  font-weight: 900;
}
