<ng-container [ngSwitch]="loading">

<div class="pi-load" *ngSwitchCase="true">
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden"></span>
  </div>
</div>
<ng-container *ngSwitchCase="false">
<div class="row pt-1 pi-containerDashboard d-flex align-items-stretch">
  <!-- primera columna -->
  <div class="col-xl-4 col-lg-3 col-md-6 pt-4">
    <div class="card pi-card" style="height:100%">
      <div class="pi-cardImg">
        <img class="pi-img pi-mainImg" src="assets/326966.jpg" alt="">
      </div>
      <div class="d-flex align-items-end" style="height:100%">
        <div class="mx-1">
          <h3 class="pi-cardTitleSerif">Únete a la expedición</h3>
          <p class="pi-light">Reserva tu material para la próxima expedición</p>

        <div class="d-block">
          <a href="#" class="btn pi-buttonCard" [routerLink]="'/bookingMaterial'">Comienza la expedición</a>
        </div>
      </div>
      </div>
    </div>
  </div>
  <!-- segunda columna -->
  <div class="col-xl-5 col-lg-5 col-md-6">
    <div class="row d-flex align-items-stretch" style="margin-bottom: 20px;">
      <div class="col-12 col-sm-6 pt-5">
        <div class="card pi-card pi-bannerCard" style="height:100%">
          <div class="pi-card-header text-center">Noticias</div>
          <div class="pi-txtCardContainer">
            <h3 class="pi-cardTitleSans">Trail 30k Benimodo</h3>
            <p class="pi-txt-smaller pi-light">Reserva tu material para la próxima expedición</p>
            <div class="d-flex justify-content-end"><a href="#" class="pi-linkCard">ver más</a></div>
            <hr class="pi-hrOnCard">
          </div>
          <div class="pi-txtCardContainer">
            <h3 class="pi-cardTitleSans">Trail 30k Benimodo</h3>
            <p class="pi-txt-smaller pi-light">Reserva tu material para la próxima expedición</p>
            <div class="d-flex justify-content-end"><a href="#" class="pi-linkCard">ver más</a></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 d-flex pt-5">
        <div class="card pi-card pi-bannerCard" style="height:100%;width: 100%;">
          <div class="pi-card-header text-center">Reservas</div>
          <div class="pi-txtCardContainer">
            <ng-container *ngFor="let bookingGroup of bookingFormated; let i = index">
                <ng-container *ngIf="i < 2">
                  <h3 class="pi-cardTitleSans">{{formatDate(bookingGroup[0].FECHA_RESERVA)}}</h3>
                  <p>
                    <ul class="pi-cardList">
                      <li class="pi-txt-smaller pi-light pi-list" *ngFor="let booking of bookingGroup">
                        {{booking.CANTIDAD}}x {{booking.MATERIAL_NOMBRE}}
                      </li>
                    </ul>
                    <hr class="pi-hrOnCard" *ngIf="i === 0">
                </ng-container>
              </ng-container>
          </div>
              <div class="pi-txtCardContainer" *ngIf="bookingFormated.length < 1">
                <p class="pi-txt-smaller pi-light mx-2">No hay más reservas</p>
              </div>
          <div class="d-flex align-items-end" style="height:100%">
            <a href="#" class="btn pi-buttonGreen align-self-end" data-bs-toggle="modal" data-bs-target="#exampleModal">ver todo</a>
          </div>
        </div>
      </div>
    </div>
    <div class="pi-bottomCard d-flex align-items-end">
      <div class="card pi-card">
        <h3 class="pi-cardTitleSerif">Organiza tu evento</h3>
        <p class="pi-light">Reserva tus espacios para el próximo evento que quieras organziar</p>
        <div class="d-flex align-items-end" style="height:100%">
          <a href="#" class="btn pi-buttonCard">Reservar ahora</a>
        </div>
      </div>

    </div>
  </div>

  <!-- tercera columna -->
  <div class="col-xl-3 col-lg-4 col-md-12 pt-2">
    <div class="row">
      <!-- calendar -->
      <div class="col-sm-12 col-md-6 col-lg-12">
        <div class="card pi-card pi-calendar">
          <div class="pi-card-header text-center">Calendario</div>
          <div class="d-flex justify-content-between">
            <div class="pi-force-serif pi-serifSmall pi-month">{{currentCalendar.month}}</div>
            <div class="pi-force-serif pi-serifSmall">{{currentCalendar.year}}</div>
          </div>
          <table class="mt-1">
            <thead>
              <tr>
                <th class="text-center pi-numbers-calendar pi-header-calendar">L</th>
                <th class="text-center pi-numbers-calendar pi-header-calendar">M</th>
                <th class="text-center pi-numbers-calendar pi-header-calendar">M</th>
                <th class="text-center pi-numbers-calendar pi-header-calendar">J</th>
                <th class="text-center pi-numbers-calendar pi-header-calendar">V</th>
                <th class="text-center pi-numbers-calendar pi-header-calendar">S</th>
                <th class="text-center pi-numbers-calendar pi-header-calendar">D</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let week of calendarNums">
                <ng-container *ngFor="let day of week">
                    <td class="pi-force-serif text-center pi-numbers-calendar m-1 py-2">
                      <span class="p-1" *ngIf="day !== 0" [class.pi-eventDay]="isEventDay(day)">
                        {{ day }}
                      </span>
                    </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
          <div class="row pt-2">
            <div class="col-6 px-3 d-flex justify-content-start align-items-end" style="height:100%">
              <a (click)="calendarControl(false)" href="#" class="btn pi-smallBtn pi-buttonGreen"><</a>
            </div>
            <div class="col-6 px-3 d-flex justify-content-end align-items-end" style="height:100%">
              <a (click)="calendarControl(true)" href="#" class="btn pi-smallBtn pi-buttonGreen">></a>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-end pb-3">
          <a href="#" class="btn pi-buttonGreen" [routerLink]="'/calendar'">ver calendario</a>
        </div>
      </div>
      <!-- userProfile -->
      <div class="col-sm-12 col-md-6 col-lg-12">
        <div class="card pi-card pt-4">
          <table>
            <h3 class="pi-force-serif pi-serifSmall">Perfil</h3>
            <p class="pi-txt-smaller pi-light">Edita tus datos</p>
            <div class="d-flex align-items-end" style="height:100%">
              <a href="#" class="btn pi-buttonGreen">ver perfil</a>
            </div>
          </table>
        </div>
      </div>
    </div>


  </div>
</div>
<!-- MODAL RESERVAS -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="modal-Reservas" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered pi-modal-content">
    <div class="modal-content">
      <div class="pt-3">
        <div class="d-flex justify-content-end me-3" style="cursor:pointer">
          <a><i class="bi bi-x-lg" data-bs-dismiss="modal"></i></a>
        </div>
        <h3 class="text-center pi-force-serif pi-serifSmall" id="modal-Reservas">Revisa tus reservas</h3>
        <div class="d-flex justify-content-center">
          <p class="pi-light pi-modal-paragraph-header text-center">Puedes gestionar tus reservas desde aquí</p>
        </div>
      </div>
        <div class="modal-body" style="padding-top: 0px;" *ngSwitchCase="false">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item" *ngFor="let bookingGroup of bookingFormated;let i = index">
              <h2 class="accordion-header" id="flush-heading{{i}}">
                <span class="pi-light pi-smallerTxt pi-modalDate">
                    {{formatDate(bookingGroup[0].FECHA_RESERVA)}} -
                    {{formatDate(bookingGroup[0].FECHA_DEVOLUCION)}}
                </span>
                <button class="accordion-button collapsed pi-modalBooking-heads" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse-'+i" aria-expanded="false" aria-controls="flush-collapseOne">
                  Reserva del {{formatDate(bookingGroup[0].FECHA_RESERVA)}}
                </button>
              </h2>
              <div id="collapse-{{i}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <ul class="pi-cardList">
                    <li class="pi-txt-smaller pi-light pi-list" *ngFor="let booking of bookingGroup">{{booking.CANTIDAD}}x {{booking.MATERIAL_NOMBRE}}</li>
                  </ul>
                  <div class="d-flex justify-content-end">
                    <a (click)="deleteBooking(bookingGroup)" class="btn pi-buttonGreen pi-buttonInsideCollapse align-self-end">devolver</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" [routerLink]="'/bookingMaterial'" class="btn pi-buttonCard">Realizar una reserva</button>
      </div>
    </div>
  </div>
</div>
</ng-container>
</ng-container>
