<div class="row pt-5">
  <div class="col-md-4">
    <div class="card pi-card">
      <div class="pi-cardImg">
        <img class="pi-img pi-mainImg" src="assets/326966.jpg" alt="">
      </div>
      <div class="mx-1">
        <h3 class="pi-cardTitleSerif">Únete a la expedición</h3>
        <p class="pi-light">Reserva tu material para la próxima expedición</p>
      </div>
      <a href="#" class="btn pi-buttonCard">Comienza la expedición</a>
    </div>
  </div>
  <div class="col-md-5">
      <div class="row">
        <div class="col-md-7">
          <div class="card pi-card">
            <div class="pi-card-header text-center">Noticias</div>
            <div class="pi-txtCardContainer">
              <h3 class="pi-cardTitleSans">Trail 30k Benimodo</h3>
              <p class="pi-txt-smaller pi-light">Reserva tu material para la próxima expedición</p>
              <div class="d-flex justify-content-end"><a href="#" class="pi-linkCard">ver más</a></div>
              <hr class="pi-hrOnCard">
            </div>
            <div class="pi-txtCardContainer">
              <h3 class="pi-cardTitleSans pt-3">Trail 30k Benimodo</h3>
              <p class="pi-txt-smaller pi-light">Reserva tu material para la próxima expedición</p>
              <div class="d-flex justify-content-end"><a href="#" class="pi-linkCard">ver más</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card pi-card">
            <div class="pi-card-header text-center">Reservas</div>
            <div class="pi-txtCardContainer">
              <h3 class="pi-cardTitleSans">12 de Julio</h3>
              <p class="pi-txt-smaller pi-light">Reserva tu material para la próxima expedición</p>
              <hr class="pi-hrOnCard">
            </div>
            <div class="pi-txtCardContainer">
              <p class="pi-txt-smaller pi-light mx-2 py-2">No hay más reservas</p>
              <a href="#" class="btn pi-buttonCard">ver todo</a>
            </div>
          </div>
        </div>
      </div>
  </div>


  <div class="col-md-3"></div>
</div>
